[Unit]
Description=DuckPark Pi UVC Gadget
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/duckpark/carla_web_platform
ExecStart=/bin/bash /opt/duckpark/carla_web_platform/scripts/start_pi_uvc_gadget.sh
ExecStop=/bin/bash /opt/duckpark/carla_web_platform/scripts/stop_pi_uvc_gadget.sh

[Install]
WantedBy=multi-user.target
