PI_GATEWAY_API_BASE_URL=http://192.168.110.151:8000
PI_GATEWAY_ID=rpi5-x1301-01
PI_GATEWAY_NAME=bench-a
PI_GATEWAY_INPUT_VIDEO_DEVICE=/dev/video0
PI_GATEWAY_HEARTBEAT_INTERVAL_SECONDS=5
PI_GATEWAY_STATE_DIR=/opt/duckpark/carla_web_platform/run_data/pi_gateway
